body {
    background-color: white;
  }
  
  header {
    
    width: 100%;
    height: 150px;
  }
  
  header ul {
    float: right;
  }
  
  header li {
    display: inline;
  }
  
  article p {
    padding: 10px 0px;
    text-indent: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  article li {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
  }
  
  footer {
    overflow: auto;
    width: 100%;
  }
  
  input[type="checkbox"]:checked {
    text-decoration: line-through;
  }
  
  .forkAndKnife {
    float:left;
    width: 42px;
    /*height: 200px; change pic size to see where text shows in relation to it
    width: 200px;*/
  }
  
  
  #headerImageAndText {
    width: 200px;
    float: left;
  }
  
  #delicious {
    font-family: Lucida Calligraphy, sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-top:auto;
    margin-bottom: auto;
    width: 200px;
  }
  
  #bestFood {
    font-family: Eurostile, sans-serif;
    font-size: 10px;
    width: 200px;
    margin-left: 50px;
    margin-top: auto;
  }
  
  .topBorder {
    height: 15px;
    width: 901px;
    margin: 1px;
    background-color: darkgrey;
    
  }
  
  #pizzaTitle {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  #posting {
    float: left;
    margin-top: 0px;
    color: gray;
    font-size: 12px;
  }
  
  #printer1 {
    float: right;
    margin-top: 0px;
    color: gray;
    font-size: 12px;
  }
  
  #checkbox {
    background-image: url("https://github.com/LTUC/amman-irbid-201d24/blob/main/class-10/lab-a/lab-assets/list-bg.png?raw=true");

    
    overflow: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #checkbox1 {
      /* background-image: url("https://github.com/LTUC/amman-irbid-201d24/blob/main/class-10/lab-a/lab-assets/list-bg.png?raw=true"); */
    float:left;
    padding-left: 80px;
    padding-right: 150px;
  }
  
  #checkbox2 {
    /* background-image: url("https://github.com/LTUC/amman-irbid-201d24/blob/main/class-10/lab-a/lab-assets/list-bg.png?raw=true"); */

    float: right;
    
  }
  
  #footer {
    width: 700px;
    float: left;
  }
  
  #vanessaphoto {
    float: left;
  }
  
  #author {
    float: left;
    margin: 2px;
  }
  
  #aboutVanessa {
    float: left;
    margin: 2px;
  }
  
  #shareButton {
    width: 70px;
    height: 40px;
    background: rgb(156, 30, 30);
    text-align: center;
    float: right;
  }
  
  #footerLogo {
    margin-left:  400px ;
    clear: both;
  }
  
  #page {
    width: 901px;
    margin: 0 auto;
  }
  #cbox3:checked + label {
    color:blue;
    text-decoration: line-through;
  }